.feedbackContainer {
  margin-bottom: 30px;
  margin-left: 50px;
}

.feedbackItem {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 18px;
}

.feedbackLabel {
  font-weight: bold;
}

.feedbackValue {
  margin-left: 10px;
  font-weight: normal;
}
